body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#title {
    font-size: 36px;
    margin-top: 0;
    color: #2a86ff; /* Azul brillante */
}

#img-div {
    margin-top: 20px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 4px solid #2a86ff; /* Borde azul brillante */
    border-radius: 5px;
}

#img-caption {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}

#timeline {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
    border-left: 2px solid #2a86ff; /* Línea vertical azul */
    padding-left: 20px; /* Espaciado a la izquierda */
}

#timeline li {
    margin-bottom: 15px;
    position: relative;
}

#timeline li strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #2a86ff; /* Texto en azul brillante */
}

#timeline li::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #2a86ff; /* Círculo azul */
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
  
#timeline li::after {
    content: '';
    width: 2px;
    background-color: #2a86ff; /* Línea vertical azul */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: 1px; /* Espaciado desde el círculo */
}
#tribute-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #444;
}

#tribute-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #ff6b6b; /* Rojo brillante */
    font-weight: bold;
}

#tribute-link:hover {
    color: #ff3333; /* Rojo más oscuro al pasar el mouse */
}

#quote {
    font-size: 24px;
    font-style: italic;
    margin-top: 20px;
    color: #2a86ff; /* Azul brillante */
}



